<div class="form-group">
	<div class="col-sm-1 col-sm-offset-2 text-right">
		<a href="javascript:void(0);" class="graded-option graded-status-off"
		   data-toggle="tooltip" data-placement="bottom" title="">
			<i class="fa fa-square fa-2x"></i>
		</a>
	</div>
	<div class="col-sm-6">
		<input type="text" rv-value="option:option"
			   placeholder="Enter an option text"
			   class="form-control" />
	</div>
	<div class="col-sm-1">
		<a href="javascript:void(0);" class="remove-option"
		   data-toggle="tooltip" data-placement="bottom" title="Remove the option">
			<i class="fa fa-minus-square"></i>
		</a>
	</div>
</div>
