<div class="form-group">
	<div class="col-sm-offset-3 col-sm-6">
		<div class="title"></div>
	</div>
</div>

<ul class="options"></ul>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-6">
		<a href="javascript:void(0)" class="add-new-item btn btn-rad">
			<span class="fa fa-plus-circle"></span>
			Add Option
		</a>
	</div>
</div>
