<div class="col-sm-8">
	<input type="text"
		   class="form-control activity-select-option"
		   placeholder="Enter an option to select from"
		   rv-value="model:option"
		   rv-class-correct-answer="model:graded" />
</div>
<div class="col-sm-1">
	<a href="javascript:void(0);" class="remove-option"
	   data-toggle="tooltip" data-placement="bottom"
	   title="Remove the option">
		<i class="fa fa-minus-square"></i>
	</a>
	&nbsp;
	<a href="javascript:void(0);" class="graded-option"
	   data-toggle="tooltip" data-placement="bottom"
	   title="Mark this option as a correct answer">
		<i class="fa fa-check"></i>
	</a>
</div>
