<div class="preview-image">
    <a href="{{ url }}"><img src="{{ url }}" alt="Uploaded image" /></a>
</div>
<a class="remove_bg_image" data-original-title="Remove Image" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="">
    <i class="fa fa-minus-square"></i>
</a>